#box{
	width:600px;
	height:900px;
	margin:0px auto;
	border: 1px solid #eee;
}
.item {
	padding: 0px;
	height:130px;
}

.item:hover {
	background-color: rgba(100, 100, 100, 0.3);
}

.item img {
	display: inline;
	height: 50px;
}

.item .name {
	display: inline;
}

.item span {
	background-color: #fff;
	height:30px;
	width:30px;
	display: inline;
	float: right;
	border: 1px solid #eee;
	font-size:20px;
	text-align: center;
}

.item span:hover {
	background-color: #eee;
	cursor: pointer;
}